In [1]:
# Tuple are orderd collections of hetrogeneous data that are unchangeable.
# Tuple has the following characteristics:
# 1.Orderd.
# 2.Immutable.
# 3.Hetrogeneous.
# 4.Duplicates.

In [2]:
# Creating a tuple
# 1.Using Pranthesis()
# 2.Using Tuple() constructor.

In [3]:
number_tuple = (10,20,20.5)
print(number_tuple)

(10, 20, 20.5)

In [4]:
number_tuple = ('Ashrvad',19, 27.1) # Hetrogeneous
print(number_tuple)

('Ashrvad', 19, 27.1)

In [5]:
tuple3 = (True,False,True)  # Boolean value
print(tuple3)

(True, False, True)

In [7]:
number_tuple = tuple(('Ashrvad',19, 27.1)) # using tuple constroctor

print(number_tuple)
type(number_tuple)

('Ashrvad', 19, 27.1)

tuple

In [8]:
# without comma
single_tuple = ('Hello')
print(type(single_tuple))
# output of string
print(single_tuple)

<class 'str'>
Hello

In [10]:
# with comma
single_tuple = ('Hello',)
print(type(single_tuple))
# output of tuple
print(single_tuple)

<class 'tuple'>
('Hello',)

In [11]:
# Duplictes
thistuple = ("apple","banana","cherry","apple","cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [12]:
tuple1 = ('P','Y','T','H','O','N')
# length of a tuple
print(len(tuple1))

6

# Access Tuple Items.

In [14]:
#positive indexing
thistuple = ("apple","banana","cherry")
print(thistuple[1])

banana

In [15]:
#negative indexing
thistuple = ("apple","banana","cherry")
print(thistuple[-1])

cherry

In [17]:
# Slicing
thistuple = ("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [19]:
tuple1 = (10,20,30,40,50)
# get index of item 30
position = tuple1.index(30)
print(position)

2

In [20]:
# Immutable
thistuple[2] = 'Muskmelon'

TypeError: 'tuple' object does not support item assignment

In [23]:
tuple1 = (10,20,30,40,50,60,70,80)
# checking whether item 50 exists in tuple

print(50 in tuple1)

print(500 in tuple1)

True
False

# Tuple methods and Functions used with Tuple

In [25]:
# we can convert the tuple to a list, add items, and then convert it back to a tuple.

In [27]:
tuple1 = (0, 1, 2, 3, 4, 5)

# converting tuple into a list
sample_list = list(tuple1)
print(sample_list)

# add item to list
sample_list.append(6)

print(sample_list)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]

In [28]:
# converting list back into a tuple
tuple1 = tuple(sample_list)
print(tuple1)

(0, 1, 2, 3, 4, 5, 6)

In [1]:
#list in tuple can modify
tuple1 = (10,20,[25,75,85])
# before update
print(tuple1)

# modify last item's first value
tuple1[2][0] = 250

# after update
print(tuple1)

(10, 20, [25, 75, 85])
(10, 20, [250, 75, 85])

In [2]:
# Removing items from a tuple

In [3]:
# #The del keyword will delete the entire tuple.
sampletup1 = (0,1,2,3,4,5,6)
del sampletup1
print(sampletup1)

NameError: name 'sampletup1' is not defined

In [4]:
tuple1 = (0,1,2,3,4,5)

# converting tuple into a list

sample_list = list(tuple1)

# reomve 2nd item

sample_list.remove(2)

# converting list back into a tuple
tuple1 = tuple(sample_list)
print(tuple1)

(0, 1, 3, 4, 5)

In [5]:
tuple1 = (10,20,60,30,60,40,60)
# Count all occurrences of item 60
tuple1.count(60)

3

In [6]:
tuple1 = (1,2,3,4,5,6)
tuple2 = (3,4,5,6,7,8)
# concatenate tuples using + operator

tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8)

In [11]:
tuple1 = (1,2,3,4,5,6)
tuple2 = (3,4,5,6,7,8)

# using sum function

tuple3 = sum((tuple1, tuple2), ())
print(tuple3)

(1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8)

In [12]:
tuple1 = (11,12,55,20)
# The Maximum value in a integer tuple
print(max(tuple1))

55

In [18]:
tuple2 = ('xyz', 'Zara', 'abc')

# The Maximum value in a string tuple

print(max(tuple2))

xyz

In [17]:
print(min(tuple2))

Zara

In [19]:
print(min(tuple1))

11

In [20]:
# can't use on heterogenous tuple

tuple3 = ('a','e', 11, 22,15)

# max item

print(max(tuple3))

TypeError: '>' not supported between instances of 'int' and 'str'

In [ ]:
#1.There are no append() or extend() to add items and similarly no remove() or pop() methods to removeitems. 
#This ensures that the data is write-protected. 
#As the tuples are Unchangeable, they can be used torepresent read-only or fixed data that does not change.
#2.As they are immutable, they can be used as a key for the dictionaries, while lists cannot be used for thispurpose.
#3.As they are immutable, the search operation is much faster than the lists. 
#This is because the id of theitems remains constant.
#4.Tuples contain heterogeneous (all types) data that offers huge flexibility in data 
#that contains combinationsof data types like alphanumeric characters.